[user]
	name = Sam Figueroa
	email = unimatrixzxero@gmail.com
        logallrefupdates = true
[color]
	ui = auto
	interactive = auto
[alias]
	st = status
	s = status -sb
	ci = commit -v
	df = diff --ignore-blank-lines -w
	gr = log --graph
	co = checkout
	br = branch
	cp = cherry-pick
	sh = show
	lol = log --pretty=oneline --abbrev-commit --graph --decorate
	shame = blame -w -M
  l = log --pretty=format:'%Cred%h %Cgreen%<(6,trunc)%cr %Cblue%<(20)%an %Creset%<(51,trunc)%s %Cred%<(20)%d'`

[core]
	excludesfile = /Users/neo/.gitignore
	quotepath = false
[push]
	default = tracking
[github]
	user = unimatrixzxero
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[init]
	templatedir = ~/.git/hooks
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
