[user]
	name = Sam Figueroa
	email = sam@samuelfigueroa.com
	signingkey = CCF881F482DE0690EE1F546EBF858226F7CBBE92
[color]
	ui = auto
	interactive = auto
[alias]
	br = branch
	changes = !sh -c 'git $0 $@ HEAD ^$(git merge-base --fork-point master)'
	ci = commit -v
	co = checkout
	commend = commit --amend --no-edit
	cp = cherry-pick
	df = diff --ignore-blank-lines -w
	gr = log --graph
	l = log --pretty=format:'%Cred%h %Cgreen%<(6,trunc)%cr %Cblue%<(20)%an %Creset%<(51,trunc)%s %Cred%<(20)%d'`
	lol = log --pretty=oneline --abbrev-commit --graph --decorate
	newstuff = log --pretty=format:'%Cred%h %Cgreen%<(6,trunc)%cr %Cblue%<(20)%an %Creset%<(51,trunc)%s %Cred%<(20)%d'` origin/development..origin/master
	please = push --force-with-lease
	s = status -sb
	sh = show
	shame = blame -w -M
	st = status
	up = fetch --all --prune --tags

[core]
	excludesfile = /Users/neo/.gitignore
	quotepath = false
	logallrefupdates = true
	attributesfile = /Users/neo/.gitattributes
[push]
	default = tracking
[github]
	user = unimatrixzxero
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
[commit]
	gpgsign = false
	template = ~/.git_commit_msg
[receive]
	advertisepushoptions = true
[diff "rspec"]
	xfuncname = "^[ \t]*((RSpec|describe|context|it|before|after|around|feature|scenario|background)[ \t].*)$"
